* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.left-nav{
    width: 300px;
    height: 1000px;
    box-shadow: 1px 1px 10px black;
}

.list a:first-letter{
    color: red;
}

.list a{
    font-family: Arial, serif;
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
    line-height: 50px;
    font-weight: bold;
    font-size: 15pt;
    /*padding: 15px 0 10px 15px;*/
}
.list a span{
    padding-left: 10px;
}

/*.list li:before{
    content: "";
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    transition-duration: .2s;
}*/
.list a:after{
    content: "";
    background-color: red;
    width: 15px;
    height: 7px;
    display: flex;
    transition-duration: .3s;
}

.list a:hover::after{
    transition-duration: .3s;
    width: 100%;
}

/*.list li:hover::before{
    transition-duration: .2s;
    border-radius: 30px;
    width: 30px;
}*/
