*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.list{
    background-color: red;
    height: 60px;
    width: 300px;
    border-left: 10px solid #a65833;
    transition-duration: 0.2s;
}
.main-div{
    position: relative;
}


.list a{
    color: white;
    line-height: 60px;
    font-size: 12pt;
    text-decoration: none;
    font-family: Arial, serif;
    padding-left: 15px;
    width: 100%;
    display: block;
}

.container{
    position: relative;
    transition-duration: 0.4s;
    visibility: hidden;
    opacity: 0;
    width: 300px;
}

.list:hover{
    transition-duration: 0.2s;
    border-left: 10px solid #63b263;
}
.container{
    transition-duration: 0.4s;
}

.main-div:hover > .container{
    transition-duration: 0.4s;
    visibility: visible;
    opacity: 1;
    left: -10px;
}


.main-div:hover .container .sub-div{
    border-top: 1px solid black;
}

.sub-div:hover{
    background-color: #bd0027;
    transition-duration: 0.2s;
    border-left: 10px solid #63b263;
}

.parent .container{
    top: -61px;
    left: 260px;
}
/*Подкатегории*/
/*  Оргтехника  */
.sub-div:hover > .container{
    transition-duration: 0.4s;
    visibility: visible;
    left: 290px;
    opacity: 1;
}
/*.orgtech{*/
/*    top: 20px;*/
/*    left: 300px;*/
/*}*/
/*  Комплектующие  */
/*.category1:hover .components{*/
/*    transition-duration: 0.4s;*/
/*    visibility: visible;*/
/*    top: 60px;*/
/*    opacity: 1;*/
/*}*/
/*.components{*/
/*    top: 80px;*/
/*    left: 300px;*/
/*}*/
/*  Аудиотехника  */
/*.category2:hover .audiotech{*/
/*    transition-duration: 0.4s;*/
/*    visibility: visible;*/
/*    top: 120px;*/
/*    opacity: 1;*/
/*}*/
/*.audiotech{*/
/*    top: 140px;*/
/*    left: 300px;*/
/*}*/
/*  Музыкальные инструменты  */
/*.category3:hover .musicalinst{*/
/*    transition-duration: 0.4s;*/
/*    visibility: visible;*/
/*    top: 180px;*/
/*    opacity: 1;*/
/*}*/
/*.musicalinst{*/
/*    top: 200px;*/
/*    left: 300px;*/
/*}*/

/*.CPU:hover .CPU-child{*/
/*    transition-duration: 0.4s;*/
/*    visibility: visible;*/
/*    top: 0;*/
/*    opacity: 1;*/
/*}*/
/*.CPU-child{*/
/*    top: 20px;*/
/*    left: 300px;*/
/*}*/
