*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    position: relative;
    padding: 13px 15px 13px 60px;
    text-align: right;
    width: 180px;
    font-size: 15pt;
    font-weight: bold;
    color: black;
    border-radius: 50px;
}
.link{
    text-decoration: none;
}

.circle{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 5px solid lightgreen;
    transition-duration: .2s;
}

.line{
    position: absolute;
    left: 13px;
    top: 50%;
    margin-top: -2px;
    width: 24px;
    height: 5px;
    background-color: lightgreen;
    transition-duration: .2s;
}

.wrapper:hover{
    max-width: 500px;
}

.wrapper:hover .circle{
    width: 100%;
    border-radius: 50px;
    transition-duration: .2s;
}

.wrapper:hover .line{
    width: 40px;
    transition-duration: .2s;
}

/*сделать увеличение размера через hover*/